@font-face {
  font-family: 'fontin_smallcaps';
  src: url('../fonts/fontin-smallcaps-webfont.woff2') format('woff2'),
       url('../fonts/fontin-smallcaps-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "avenir_roman";
  src: url("../fonts/avenir_roman.otf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "avenir_black";
  src: url("../fonts/avenir_black.otf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "avenir_heavy";
  src: url("../fonts/avenir_heavy.otf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "avenir_medium";
  src: url("../fonts/avenir_medium.otf");
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0px;
  padding: 0px;
}

h1,
h2,
h3 {
  font-family: "fontin_smallcaps", Arial, serif;
}

nav {
  height: 53px;
}

p,
a,
button,
table,
li {
  font-family: "avenir_medium", sans-serif;
}

a {
  transition-duration: 0.5s;
}

a:hover {
  text-decoration: none;
  color: #F19321;
}

.sliderback1 {
  background: url(../img/slider_bg.png) no-repeat center center;
  background-size: cover;
}

.sliderback2 {
  background: linear-gradient(rgba(30,71,152,0.7),rgba(30,71,152,0.7)), url(../img/slider_bg3.jpg) no-repeat center center;
  background-size: cover;
}

.sliderback3 {
  background: linear-gradient(rgba(30,71,152,0.7),rgba(30,71,152,0.7)), url(../img/slider_bg2.jpg) no-repeat center center;
  background-size: cover;
}

.slider {
  text-align: left;
  margin-left: 35%;
  width:30%;
  text-transform: uppercase;
  color: white;
  font-weight: bold;
}

.slider h1 {
  font-size: 70px;
  padding: 2em 0em 0em 0em;
}

.slider p {
  font-size: 15px;
  font-family: sans-serif;
  padding: 2.5em 0em;
}

.slider a {
  border: 1px solid white;
  font-size: 10px;
  color: white;
  padding: 1em;
  box-shadow: 0em 0.2em white;
}

.slider a:hover {
  color: #F19321;
  border: 1px solid #F19321;
  font-size: 12px;
  box-shadow: 0em 0.2em #F19321;
}

#bs-example-navbar-collapse-1 {
  background: white;
}

#active {
  background-color: white;
  color: #F19321;
}

#logotop {
  display: inline-block;
  margin-left: 45%;
  margin-top: -60px;
  width: 100px;
  background-color: white;
  padding: 1em;
  border-radius: 100%;
}

#topnavbar {
  height:10px;
  background-color: white;
  border: 0px;
}

.navlinks {
  margin: 0em 2em;
}

/*SEARCH*/

.search-form .form-group {
  float: right !important;
  transition: all 0.35s, border-radius 0s;
  width: 32px;
  height: 32px;
  background-color: #fff;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
  border-radius: 25px;
  border: 1px solid #ccc;
}
.search-form .form-group input.form-control {
  padding-right: 20px;
  border: 0 none;
  background: transparent;
  box-shadow: none;
  display:block;
}
.search-form .form-group input.form-control::-webkit-input-placeholder {
  display: none;
}
.search-form .form-group input.form-control:-moz-placeholder {
  /* Firefox 18- */
  display: none;
}
.search-form .form-group input.form-control::-moz-placeholder {
  /* Firefox 19+ */
  display: none;
}
.search-form .form-group input.form-control:-ms-input-placeholder {
  display: none;
}
.search-form .form-group:hover,
.search-form .form-group.hover {
  width: 100%;
  border-radius: 4px 25px 25px 4px;
}
.search-form .form-group span.form-control-feedback {
  position: absolute;
  top: -1px;
  right: -2px;
  z-index: 2;
  display: block;
  width: 34px;
  height: 34px;
  line-height: 34px;
  text-align: center;
  color: #3596e0;
  left: initial;
  font-size: 14px;
}
/*SEARCH END*/

/*CENTER*/
#center {
  height: 700px;
  background-color: white;
}

#txtcenter1 {
  height: 400px;
}

#txtcenter2,
#txtcenter3 {
  height: 300px;
}

#center h2 {
  text-transform: uppercase;
  padding: 1em 30px;
}

#center p {
  padding: 0px 30px;
  margin-bottom: 20px;
}

#center a {
  background-color: #F19321;
  color: white;
  text-transform: uppercase;
  padding: 0.5em;
  border-radius: 1px;
  margin-left: 30px;
}

#center a:hover {
  background-color: #1a3689;
}

#photo1 {
  height: 400px;
  background: url(../img/index_1.png);
  background-size: cover;
}

#photo2 {
  height: 300px;
  background-image: url(../img/index_2.png);
  background-size: cover;
}

#photo3 {
  height: 300px;
  background-image: url(../img/index_3.png);
  background-size: cover;
}

.titreblue {
  margin-top: -55px;
  margin-bottom: 55px;
  height: 200px;
  width: 100%;
  background: url(../img/header_bg.png) no-repeat center center;
  background-size: cover;
}

.titreblue h1 {
  padding: 3em 0em 0.5em 2em;
  color: white;
  text-transform: uppercase;
}

.titreblue p {
  padding: 1em 0em 2em 2em;
  color: white;
}

#titrecontact {
  padding-left: 0px;
  padding-right: 0px;
  text-align: center;
  padding-bottom: 0px;
}

#trianglepres {
  width: 50px;
  margin-top: -102px;
  margin-left: 50px;
}

#txtpres {
  position: relative;
  z-index: 2;
  width: 32%;
  margin-top: -27em;
  float: right;
  background-color: white;
  padding: 5em;
  margin-right: 15%;
}

.presg1,
.presg2 {
  width: 35px;
}

.presg1 {
  float: left;
}

.presg2 {
  float: right;
}

.txtpres2 {
  padding: 5%;
}

#txtpres2 p {
  width: 70%;
  margin: 0.5em 15%;
}

#txtpres2,
#basprest {
  margin-top: 4em;
  background-color: #f5f5f3;
}

#txtpres2 i {
  color: #1a3689;
}

#imgpres {
  position: relative;
  z-index: 0;
  width: 50%;
  margin-left: 10%;
}

#trianglecontact {
  width: 50px;
  margin-top: -50px;
  margin-left: 50px;
}

#pres {
  margin: 2em 3em 0em 3em;
}

.h2pres {
  text-transform: uppercase;
  color: #1a3689;
  text-align: center;
}

.logoprest {
  width: 50px;
}

#h2prest {
  text-transform: uppercase;
  text-align: center;
  margin-top: 100px;
  color: #1a3689;
}

#basprest {
  padding: 4em;
}

.prest {
  margin-left: 3em;
}

#hautprest img {
  margin: 1em;
}

#hautprest p {
  text-transform: uppercase;
  font-weight: 600;
}

#hautprest a {
  color: #333333;
}

#hautprest a:hover {
  color: #F19321;
}

.petit {
  font-size: 80%;
}


.btn-tem {
  margin: 20px 0;
}

.txttem {
  margin-left: 15%;
}

.temg1 {
  width: 10px;
}

.temg2 {
  width: 10px;
}

#tem {
  margin: 2em 0em;
}

#tem p {
  padding: 2em 2em;
}

#tem p:nth-child(odd) {
  background-color: #f5f5f3;

}

#txtcontact {
  margin-left: 10%;
  margin-right: 10%;
}

#map {
  height: 400px;
  width: 70%;
  margin: 25px 15%;
}

#coordonées {
  text-align: center;
  margin-bottom: 2em;
}

#coordonées,
#coordonées a {
  color: black;
}

#coordonées a:hover {
  color: #F19321;
}

#symbcontact {
  color: #1a3689;
}

table {
  margin: 2em 0em;
}

td {
  padding: 1em 2em;
}

tr:nth-child(odd) {
  background-color: #f5f5f3;
}

td:nth-child(2) {
  text-align: right;
}

/*CENTER END*/

/*FOOTER*/
#footer {
  padding: 1em 0em 0em 0em;
}

#footer,
#footer a {
  background-color: #1a3689;
  color: white;
  text-align: center;
  text-transform: uppercase;
}

#footer a:hover {
  color: #F19321;
}

/*FOOTER END*/

/*MEDIA QUERIES*/
@media all and (min-width:767px) and (max-width:1200px) {
  .push {
    height: 300px;
  }
}


@media all and (max-width:1270px) {
  #txtpres {
    width: 100%;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-right: 0%;
    float: none;
    padding: 5em;
  }
  #imgpres {
    margin-top: 0px;
    margin-bottom: 0px;
    width: 50%;
    margin-left: 25%;
  }
}


@media all and (max-width:767px) {
  .push {
    height: 900px;
  }
  #center {
    height: 900px;
  }
  #txtcenter1,
  #txtcenter2,
  #txtcenter3,
  #photo1,
  #photo2,
  #photo3 {
    height: 300px;
  }
}


@media (max-width: 991px) {
  #logotop {
    width: 15%;
    margin-left: 42.5%;
  }
  ul {
    background-color: white;
  }
  .navbar-header {
    float: none;
  }
  .navbar-left,.navbar-right {
    float: none !important;
  }
  .navbar-toggle {
    display: block;
  }
  .navbar-collapse {
    border-top: 1px solid transparent;
    box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
  }
  .navbar-fixed-top {
    top: 0;
    border-width: 0 0 1px;
  }
  .navbar-collapse.collapse {
    display: none!important;
  }
  .navbar-nav {
    float: none!important;
    margin-top: 7.5px;
  }
  .navbar-nav>li {
    float: none;
  }
  .navbar-nav>li>a {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .collapse.in{
    display:block !important;
  }
}


@media all and (max-width:500px) {
  #logotop {
    width: 25%;
    margin-left: 37.5%;
  }
  #txtcenter1 {
    height: 400px;
  }
  #txtcenter2,
  #txtcenter3,
  #photo1,
  #photo2,
  #photo3 {
    height: 250px;
  }
}
/*MEDIA QUERIES END*/

/*REDUCE HORIZONTAL SCROLL*/
.container-fluid .row {
  margin-left: 0px;
  margin-right: 0px;
}
